
body {
	background-color: #dad9d4;
}

#logo {
	width: 300px;
/*	height: 100px; */
}
#frame {
/*	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	box-shadow: 5px 5px 2.5px black;
	border-radius: 5px;
	
	font-family: Verdana, sans-serif;*/
	overflow: hidden;
}

#main {
	text-align: center;
	color: #333;
	padding-bottom: 5px;
}

form {
	width: 330px;
	margin-left: auto;
	margin-right: auto;
}


legend {
	text-align: left;
}

table {
	border-collapse: collapse;
	border: 1px solid #eee;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(even) {
	background-color: #eee;
}

tr:nth-child(odd) {
	background-color: white;
}


#banner, #footer {
	margin-bottom: 0px;
	background-color: #333;
	color: white;
	padding: 5px;
}
