{% load staticfiles %}
<html>
  <head>
    <title>Database</title>
    <!-- Need this to link to Bootstrap (btw don't need to add to requirements.txt these links handle it)-->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Link to your CSS file that you should edit -->
      <link rel="stylesheet" href="{% static 'css/sonos.css' %}">
  </head>
  <body id='body'>
    <div id='frame'>
  
      <div id="banner">
        <a href="{% url 'home' %}"><img src="{% static 'images/SonosLogo.png' %}" alt="banner logo" id="logo"/></a>
        Web Database
      </div>
      <div id='main'>

         <!--add search bar here?-->
{#         <form class="search" action="{% url 'search' %}" method='post'>#}
{#                {% csrf_token %}#}
{#            <input type="search" placeholder="Search here..." name="usr_query"#}
{#            value='{{ query }}' required>#}
{#          <button type="submit">Search</button>#}
{#        </form> <!--end of new line-->#}

        <!--getting rid of "Results from None" statement when first opens-->
        {% if showQuery|length > 0 %}
            <h1>Results from {{ showQuery }}</h1>
        {% endif %}
          <table>
            <tr>
              <th>#</th>
              <!--testing author-->
              <th>author</th>
              <th>column name</th>
              <th>type</th>
              <th>can be null</th>
              <th>location</th>
              <th>tables found in</th>
            </tr>
            {% for row in table %}
              <tr>
                <td>{{ row.index }}</td>
                <!--testing author-->
                <td>{{ row.author }}</td>
                <td>{{ row.field }}</td>
                <td>{{ row.type }}</td>
                <td>{{ row.can_be_null }}</td>
                <td>{{ row.location }}</td>
                <td>
                  {% for curr in row.tables %}
                    {{ curr }}
                    <br>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </table>
      </div>
        <form method='GET' action=''>
            Search by author: <input type='text' name='q1' placeholder='Search here...' value='{{ init_value }}' required/><br>
            Search by column name: <input type='text' name='q2' placeholder='Search here...' value='{{ init_value }}' required/><br>
            <input type='submit' value='Search' />
        </form>

      <div id="footer">
        Call this number for help: (123)456-7890
      </div>
    </div>
  </body>
</html>
    

